In [1]:
import pandas as pd
import os
import numpy as np
import pathlib
import matplotlib.pyplot as plt
import glob

In [2]:
path=pathlib.Path('/media/tris/tris_files/DEAP_dataset/robots/csv')
path

PosixPath('/media/tris/tris_files/DEAP_dataset/robots/csv')

In [3]:
subject=[]
for i in  range(0,32):
    vec=np.ones(40)+i
    subject.append(vec)

In [4]:
subject=np.array(subject)
subject=subject.flatten()
subject_pd=pd.DataFrame(subject).T; subject_pd.head()

,0,1,2,3,4,5,6,7,8,9,...,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0

In [5]:
frames=[]
for f in glob.glob('/media/tris/tris_files/DEAP_dataset/robots/csv/*.csv'):
    pd_read = pd.read_csv(f, header=None)
    flatten=pd.DataFrame(pd_read.values.flatten());
    
    frames.append(flatten)

In [6]:
result = pd.concat(frames, axis=1)

In [7]:
result = result.T.reset_index(drop=True).T

In [8]:
result

,0,1,2,3,4,5,6,7,8,9,...,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279
0,0.054227,0.0049932-0.0074566i,-0.024087,-0.044785+0.042154i,-0.33672,-0.37229+0.45749i,0.073488+0.041786i,0.14504-0.12943i,0.093431,0.02971-0.060091i,...,0.064754-0.13163i,0.40636-0.42578i,0.07932-0.082486i,0.003984-0.0054571i,0.129+0.028135i,-0.079096+0.079217i,0.10388,-0.05316+0.046126i,-0.04111+0.21306i,-0.02919+0.13204i
1,0.063823-0.082958i,-0.0002286-0.034122i,-0.0019502+0.0041756i,0.018739-0.029055i,-0.094842+0.18482i,-0.09464-0.15872i,-0.069026-0.016606i,0.012136-0.14008i,0.01818+0.26731i,0.10293-0.052492i,...,-0.23702-0.069672i,0.10008+0.020468i,-0.056063+0.041564i,-0.0020815+0.066104i,0.14413-0.018063i,-0.14581+0.21435i,0.14071,0.043697+0.010904i,0.025967+0.091729i,0.5169-0.097724i
2,0.079891-0.061754i,-0.010369+0.015046i,0.098673+0.020781i,-0.03744+0.0097762i,0.13909+0.019282i,0.50289-0.48926i,0.054946-0.056121i,-0.18735+0.14716i,-0.06625-0.061186i,-0.039126+0.075781i,...,-0.038465+0.15282i,-0.52628+0.5239i,-0.11261+0.077161i,0.00072673-6.5211e-05i,-0.028328-0.09184i,-0.12332+0.077685i,-0.20823+0.23408i,-0.07779+0.069944i,-0.076198-0.21705i,-0.32303+0.068668i
3,-0.11045+0.097761i,0.046595+0.008354i,0.056515-0.0099204i,-0.045111+0.045273i,0.17607-0.21214i,0.51152-0.27797i,0.092004-0.016556i,0.22743+0.22663i,0.307-0.2092i,-0.066448+0.0024704i,...,0.11452-0.23867i,-0.27698+0.30595i,0.016957+0.087688i,-0.011716-0.010251i,-0.026333+0.091491i,-0.20216+0.21488i,-0.01417-0.046209i,-0.076359+0.023649i,-0.2003+0.0027312i,0.14292-0.17701i
4,-0.09381+0.056034i,0.013913+0.00095506i,-0.11897-0.020148i,-0.019174-0.063904i,-0.26138-0.02796i,-0.33626-0.47559i,0.014074+0.04968i,-0.28841+0.054705i,0.14261-0.23358i,0.004318-0.047155i,...,-0.16381-0.1034i,0.61737-0.006258i,0.10603-0.018365i,-0.0077981-0.0035453i,-0.28999+0.11751i,0.28579+0.1522i,0.32161-0.22926i,0.080481-0.04164i,0.024538+0.15228i,0.062804+0.32927i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,11.388,NaN,25.652,NaN,11.51,NaN,NaN,NaN,15.751,NaN,...,NaN,NaN,NaN,27.832,NaN,NaN,12.912,NaN,NaN,NaN
353,12.406,NaN,27.164,NaN,18.343,NaN,NaN,NaN,22.002,NaN,...,NaN,NaN,NaN,31.417,NaN,NaN,14.489,NaN,NaN,NaN
354,13.609,NaN,29.966,NaN,31.963,NaN,NaN,NaN,26.079,NaN,...,NaN,NaN,NaN,32.275,NaN,NaN,31.639,NaN,NaN,NaN
355,21.439,NaN,39.788,NaN,41.031,NaN,NaN,NaN,35.99,NaN,...,NaN,NaN,NaN,40.861,NaN,NaN,40.518,NaN,NaN,NaN
356,21.921,NaN,43.919,NaN,44.012,NaN,NaN,NaN,43.8,NaN,...,NaN,NaN,NaN,43.986,NaN,NaN,43.954,NaN,NaN,NaN

In [9]:
result=result.append(subject_pd, ignore_index=True)

In [10]:
result.to_pickle('modes_tabular.pkl')